@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

:root {
  --primary: #1677ff;
  --secondary: #faad14;
  --text-color: #373d3f;
  --success: #5cdbd3;
  --text: #ff4d4f;
}

a {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.ml-2 {
  margin-left: -10px !important;
}

.pointer {
  cursor: pointer;
  transition: background 0.2s ease;
}

.pointer:nth-child(even):hover {
  background-color: #1677ff;
}

.pointer:nth-child(odd):hover {
  background-color: #ff6f16;
}

.margin {
  margin-left: 35px;
}

.bg-white {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pointers {
  cursor: pointer;
}